<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/settings"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Addresses</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="walletService.wallet">
    <app-addresses-component [addresses]="walletService.wallet.addresses"></app-addresses-component>
  </div>

</ion-content>
