<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModalAddContact()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/settings"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Address Book</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openModalAddContact()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="Object.keys(contacts)?.length; then ListContacts else NoContacts"></div>
  <ng-template #ListContacts>

    <ion-list>
      <ion-item *ngFor="let key of Object.keys(contacts)">
        <ion-label class="ion-text-wrap" (click)="copyAddress(key)">
          <h2>{{ contacts[key] }}</h2>
          <p>{{ key }}</p>
        </ion-label>
      </ion-item>
    </ion-list>


  </ng-template>
  <ng-template #NoContacts>
    <div class="ion-padding">
      <ion-button expand="block" (click)="openModalAddContact()">
        <ion-icon name="add"></ion-icon>
        Add a new contact
      </ion-button>
    </div>
  </ng-template>

  <ion-modal [isOpen]="isModalAddContact">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="primary">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
          <ion-title>Add Contact</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          <ion-input [(ngModel)]="address"></ion-input>
        </ion-item>
        <ion-button
          class="ion-margin-vertical"
          expand="block"
          [disabled]="!name || !address"
          (click)="addContact()">Save</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>
