<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Book</ion-title>
    <ion-buttons slot="end">
      <ion-button class="custom-small-button" (click)="openModalAddContact()">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/settings"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Address Book</ion-title>
      <ion-buttons slot="end">
        <ion-button class="custom-small-button" (click)="openModalAddContact()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="Object.keys(contacts)?.length; then ListContacts else NoContacts"></div>
  <ng-template #ListContacts>

    <ion-list>
      <ion-item *ngFor="let key of Object.keys(contacts)" class="contact-item">
        <ion-avatar slot="start">
          <ion-icon name="person-circle" class="contact-avatar"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2 class="contact-name">{{ contacts[key] }}</h2>
          <p class="contact-address">{{ key }}</p>
        </ion-label>
        <ion-icon name="copy-outline" slot="end" class="copy-icon" (click)="copyAddress(key)"></ion-icon>
      </ion-item>
    </ion-list>


  </ng-template>
  <ng-template #NoContacts>
    <div class="empty-contacts-container">
      <!-- Animated illustration container -->
      <div class="illustration-container">
        <div class="circle-background"></div>
        <div class="contact-icons">
          <ion-icon class="contact-icon main" name="people-outline"></ion-icon>
          <div class="floating-contacts">
            <ion-icon class="contact-icon floating" name="person-outline"></ion-icon>
            <ion-icon class="contact-icon floating" name="person-outline"></ion-icon>
            <ion-icon class="contact-icon floating" name="person-outline"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Message container -->
      <div class="message-container">
        <h2>No Contacts Yet</h2>
        <p>Start building your address book by adding your first contact</p>
      </div>

      <!-- Action button -->
      <ion-button class="add-contact-button" (click)="openModalAddContact()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Add Your First Contact
      </ion-button>
    </div>

  </ng-template>

  <ion-modal [isOpen]="isModalAddContact">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="primary">
            <ion-button class="custom-small-button" (click)="closeModal()">Close</ion-button>
          </ion-buttons>
          <ion-title>Add Contact</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          <ion-input [(ngModel)]="address"></ion-input>
          <ion-button class="action-small-button" slot="end" (click)="scanQRCode()">
            <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-button
          expand="full"
          [disabled]="!name || !address"
          (click)="addContact()">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>


</ion-content>
