<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receive</ion-title>
    <ion-buttons *ngIf="isDevice" slot="end">
      <ion-button (click)="shareAddress()">
        <ion-icon name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receive</ion-title>
      <ion-buttons *ngIf="isDevice" slot="end">
        <ion-button (click)="shareAddress()">
          <ion-icon name="share"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="walletService.wallet?.addresses; then ShowAddress else NoAddress"></div>
  <ng-template #ShowAddress>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <qr-code value="{{walletService.getLastAddress().address}}" size="300" errorCorrectionLevel="M"
                 centerImageSrc="../../assets/bitcoin-btc-logo.svg"></qr-code>
      </ion-card-content>
      <ion-text class="ion-text-center">
        <p class="overflow-dots" (click)="copyAddress()">
          <ion-icon name="copy-outline"></ion-icon>
          {{walletService.getLastAddress().address}}
        </p>
      </ion-text>

    </ion-card>
    <ion-button class="ion-margin" expand="block" (click)="walletService.getNewAddress()">Generate New Address</ion-button>
  </ng-template>
  <ng-template #NoAddress>
    <ion-card color="warning">
      <ion-card-content>No Addresses</ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
