<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Receive</ion-title>
    <ion-buttons *ngIf="walletService.wallet?.addresses" slot="end">
      <ion-button class="custom-small-button" (click)="walletService.getNewAddress()">
        New Address
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Receive</ion-title>
      <ion-buttons *ngIf="walletService.wallet?.addresses"  slot="end">
        <ion-button class="custom-small-button" (click)="walletService.getNewAddress()">
          New Address
          <ion-icon slot="start" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="walletService.wallet?.addresses; then ShowAddress else NoAddress"></div>
  <ng-template #ShowAddress>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <qr-code value="{{walletService.getLastAddress().address}}" size="300" errorCorrectionLevel="M"
                 centerImageSrc="../../assets/bitcoin-btc-logo.svg"></qr-code>
      </ion-card-content>
      <ion-card-content>
        <ion-text class="ion-text-center">
          <p class="overflow-dots" (click)="copyAddress()">
            <ion-icon name="copy-outline"></ion-icon>
            {{ walletService.getLastAddress().address }}
          </p>
        </ion-text>
        <ion-button
          *ngIf="isDevice"
          class="ion-margin-vertical"
          expand="block"
          (click)="shareAddress()">
          <ion-icon slot="start" name="share-outline"></ion-icon>
          Share Address
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <ng-template #NoAddress>
    <div class="empty-state-container">
      <!-- Animated icons container -->
      <div class="icons-container">
        <div class="wallet-icon-wrapper">
          <ion-icon name="wallet-outline" class="main-icon"></ion-icon>
        </div>
      </div>

      <!-- Message container -->
      <div class="message-container">
        <h2>No Receiving Address</h2>
        <p>You need to create or import a wallet first to receive Bitcoin</p>
      </div>
    </div>

  </ng-template>

</ion-content>
