<div id="container">
  A non-custodial bitcoin wallet is a software application that allows you to
  store, send and receive bitcoin without entrusting your private keys to a
  third party. This means that you have full control and responsibility over
  your funds and transactions. However, it also means that you bear the risks
  and challenges associated with managing your own bitcoin. By using a
  non-custodial bitcoin wallet, you agree to the following:

  <ul>
    <li>
      You are solely responsible for securing your private keys and backup
      phrases. If you lose access to your wallet or forget your password, you
      may not be able to recover your funds. No one, including the wallet
      provider, can help you in this case.
    </li>
    <li>
      You are solely responsible for verifying the validity and accuracy of the
      transactions you make or receive. If you send bitcoin to a wrong address
      or fall victim to a scam, fraud or phishing attack, you may not be able to
      reverse or recover your funds.
    </li>
    <li>
      You are solely responsible for complying with the laws and regulations of
      your jurisdiction regarding the use of bitcoin. You acknowledge that
      bitcoin transactions are irreversible and may have tax, legal or financial
      implications.
    </li>
    <li>
      You understand that using a non-custodial bitcoin wallet involves certain
      risks and limitations, such as network congestion, transaction fees,
      technical issues, hacking attempts and human errors. You accept these
      risks and agree not to hold the wallet provider liable for any loss,
      damage or inconvenience caused by them.
    </li>
  </ul>

  By using a non-custodial bitcoin wallet, you acknowledge that you have read,
  understood and agreed to this disclaimer. You also confirm that you are of
  legal age and have the capacity to enter into this agreement.
</div>
