<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Send</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Enter destination address and amount in BTC to send
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="To" [(ngModel)]="to"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" label="Amount" [(ngModel)]="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Message" [(ngModel)]="message"></ion-textarea>
      </ion-item>
      <ion-button class="ion-margin-vertical" expand="block" (click)="send()">Send</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
