<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Send</ion-title>
    <ion-progress-bar *ngIf="showProgress" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="proposals && proposals.length > 0">
    <ion-card-title class="ion-padding">
      <ion-text>
        Pending transaction
      </ion-text>
    </ion-card-title>
    <ion-card-content>
      <app-proposals-component [network]="walletService.wallet?.network"
                               [proposals]="walletService.wallet?.proposals"></app-proposals-component>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-padding">
      <ion-text color="primary">
        New transaction
      </ion-text>
    </ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-input label="To" [disabled]="showProgress" [(ngModel)]="to"></ion-input>
        <ion-button size="small" slot="end" shape="round" (click)="scanQRCode()">
          <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button size="small" slot="end" shape="round" (click)="openModalContacts()">
          <ion-icon name="person-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-toggle [disabled]="showProgress" [(ngModel)]="useTotalAmount">
          Use Total Amount
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-input type="number" [disabled]="showProgress || useTotalAmount" label="Amount"
                   [(ngModel)]="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Message" [disabled]="showProgress" [(ngModel)]="message"></ion-textarea>
      </ion-item>
      <ion-button class="ion-margin-vertical" expand="block"
                  [disabled]="(!to || (!amount && !useTotalAmount) || showProgress)"
                  (click)="useTotalAmount ? sendMax() : createTransaction()">Create Transaction
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
