<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Send</ion-title>
    <ion-progress-bar *ngIf="showProgress" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Send</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="proposal" class="ion-padding">
    <ion-list class="proposal-list">

      <div *ngIf="proposal.recipients; then ShowMultipleRecipients else SingleTransaction"></div>
      <ng-template #SingleTransaction>
        <ion-item lines="full">
          <ion-label color="medium">To</ion-label>
          <ion-note slot="end" class="ion-text-wrap">
            {{ proposal.to }}
          </ion-note>
        </ion-item>
        <ion-item lines="full">
          <ion-label color="medium">Amount</ion-label>

          <ion-note slot="end" class="amount-note">
            <strong>{{ proposal.amountStr }}</strong>
            <div class="fiat ion-text-end ion-text-caption">{{ getFiatRate(proposal.amount) }}</div>
          </ion-note>
        </ion-item>

        <ion-item lines="full">
          <ion-label color="medium">Fee</ion-label>
          <ion-note slot="end" class="fee-note">
            {{ proposal.feeStr }}
            <div class="fiat ion-text-end ion-text-caption">{{ getFiatRate(proposal.fee) }}</div>
          </ion-note>
        </ion-item>
      </ng-template>

      <ng-template #ShowMultipleRecipients>
        <ion-item lines="full" *ngFor="let recipient of proposal.recipients">
          <ion-avatar slot="start">
            <ion-icon name="person-circle" class="contact-avatar"></ion-icon>
          </ion-avatar>
          <ion-label>
            {{ recipient.address }}
          </ion-label>
          <ion-note slot="end" class="recipient-note">
            {{ recipient.amount }} BTC
            <div class="fiat ion-text-end ion-text-caption">{{ getFiatRateBtc(recipient.amount) }}</div>
          </ion-note>
        </ion-item>
        <ion-item lines="full">
          <ion-label color="medium">Total Amount</ion-label>
          <ion-note slot="end" class="total-amount-note">
            <strong>{{ proposal.amountStr }}</strong>
            <div class="fiat ion-text-end ion-text-caption">{{ getFiatRate(proposal.amount) }}</div>
          </ion-note>
        </ion-item>

        <ion-item lines="full">
          <ion-label color="medium">Fee</ion-label>
          <ion-note slot="end" class="fee-note">
            {{ proposal.feeStr }}
            <div class="fiat ion-text-end ion-text-caption">{{ getFiatRate(proposal.fee) }}</div>
          </ion-note>
        </ion-item>
      </ng-template>

      <ion-item lines="full" *ngIf="proposal?.date">
        <ion-label color="medium">Date</ion-label>
        <ion-note slot="end">{{ proposal.date }}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label color="medium">TxID</ion-label>
        <ion-note slot="end" class="txid-note text-ellipsis">{{ proposal.id }}</ion-note>
      </ion-item>

      <ion-item lines="full" *ngIf="proposal.message">
        <ion-label color="medium">Message</ion-label>
        <ion-note slot="end" class="message-note ion-text-wrap">{{ proposal.message }}</ion-note>
      </ion-item>

      <ion-item *ngIf="proposal.rawTx" lines="none">
        <ion-textarea
          label="Raw"
          class="raw-textarea"
          [value]="proposal.rawTx"
          readonly
          [autoGrow]="true"
          fill="solid"
        ></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="action-buttons ion-padding-top">
      <ion-button class="send-button" expand="block" [disabled]="showProgress"
                  (click)="broadcastProposal(proposal.rawTx)">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Broadcast
      </ion-button>

      <ion-button class="cancel-button" fill="clear" expand="block" color="danger" (click)="remove()">
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Remove
      </ion-button>
    </div>
  </div>

  <div *ngIf="walletService.wallet?.addresses; then ShowSendForm else NoSendForm"></div>
  <ng-template #ShowSendForm>
    <ion-list *ngIf="!proposal">
      <ion-item>
        <ion-input label="To" [disabled]="showProgress" [(ngModel)]="to"></ion-input>
        <ion-button class="action-small-button" slot="end" (click)="scanQRCode()">
          <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button class="action-small-button" slot="end" (click)="openModalContacts()">
          <ion-icon name="person-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-toggle [disabled]="showProgress || !to || (!useTotalAmount && recipients.length > 0)" [checked]="useTotalAmount" (ionChange)="setSendMax($event)">
          Use Total Amount
        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-input
          type="number" [disabled]="showProgress || !to || useTotalAmount"
          label="Amount" [(ngModel)]="amount"
          [helperText]="getFiatRateBtc(amount)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Message" [disabled]="showProgress" [(ngModel)]="message"></ion-textarea>
      </ion-item>
      <ion-button class="ion-margin-vertical" fill="clear"
                  [disabled]="(!to || !amount || useTotalAmount || showProgress)"
                  (click)="addRecipient()">
        Add Recipient
        <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>

      <div *ngIf="recipients.length > 0">
        <ion-item-divider>
          <h3>Recipients</h3>
        </ion-item-divider>
        <ion-list>
          <ion-item *ngFor="let recipient of recipients; let index = index">
            <ion-avatar slot="start">
              <ion-icon name="person-circle" class="contact-avatar"></ion-icon>
            </ion-avatar>
            <ion-label>
              <ion-text color="medium">
                {{ recipient.address }}
                <div *ngIf="!useTotalAmount">
                  <strong>{{ recipient.amount }} BTC </strong>
                  <span>({{ getFiatRateBtc(recipient.amount) }})</span>
                </div>
                <div *ngIf="useTotalAmount">
                  <strong>Sending Max</strong>
                </div>
              </ion-text>
            </ion-label>
            <ion-button *ngIf="!useTotalAmount" fill="clear" color="danger" (click)="removeRecipient(index)">
              <ion-icon name="trash-outline" class="icon-remove-recipient"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>

      <ion-button class="ion-margin" expand="block"
                  [disabled]="(showProgress || recipients.length === 0)"
                  (click)="useTotalAmount ? sendMax() : createTransaction()">Create Transaction
      </ion-button>
    </ion-list>
  </ng-template>
  <ng-template #NoSendForm>
    <div class="empty-state-container">
      <!-- Animated illustration container -->
      <div class="illustration-container">
        <div class="circle-background"></div>
        <div class="icons-wrapper">
          <ion-icon name="wallet-outline" class="wallet-icon"></ion-icon>
          <div class="animation-container">
            <ion-icon name="close-circle" class="status-icon"></ion-icon>
            <div class="pulse-ring"></div>
          </div>
        </div>
      </div>

      <!-- Message container -->
      <div class="message-container">
        <h2>No Funds Available</h2>
        <p>You need to have funds in your wallet before you can make a transaction</p>
      </div>
    </div>
  </ng-template>

</ion-content>
