<div *ngIf="proposals?.length; then ListTx else NoTx"></div>
<ng-template #ListTx>

    <ion-list>
      <ion-item button (click)="openTransactionDetails(tx)" *ngFor="let tx of proposals">
        <ion-icon slot="start" name="arrow-up"></ion-icon>
        <ion-label>
          {{tx.amountStr}}
        </ion-label>
        <ion-note slot="end">
          {{tx.date.split(',')[0]}}<br>
          {{tx.date.split(',')[1]}}
        </ion-note>
      </ion-item>
    </ion-list>

  <ion-modal [isOpen]="isModalTransactionDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="primary">
            <ion-button (click)="closeTransactionDetails()">Close</ion-button>
          </ion-buttons>
          <ion-title>Proposal Details</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-proposal-details-component [network]="network" [tx]="currentProposal"></app-proposal-details-component>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-template>
<ng-template #NoTx>
  <div class="ion-padding">
    No Proposals.
  </div>
</ng-template>
