<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="receive">
      <ion-icon aria-hidden="true" name="download"></ion-icon>
      <ion-label>Receive</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="send">
      <ion-icon aria-hidden="true" name="send"></ion-icon>
      <ion-label>Send</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>