<div *ngIf="addresses?.length; then ListAddresses else NoAddresses"></div>
<ng-template #ListAddresses>
  <ion-list>
    <ion-item *ngFor="let address of addresses">
      <ion-label>
        [{{address.index}}] <br>
        <span class="truncate">{{address.address}}</span>
        {{address.change !== 0 ? '(Change)' : null}}
      </ion-label>
      <ion-note slot="end">{{address.balance}} sat</ion-note>
    </ion-item>
  </ion-list>
</ng-template>
<ng-template #NoAddresses>
  <div class="ion-padding">
    No Addresses.
  </div>
</ng-template>



