<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Import a Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Import a Wallet</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Enter 12 words to import your wallet
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select disabled="true" label="Network" placeholder="Select Network" [(ngModel)]="selectedNetwork">
          <ion-select-option value="livenet">Livenet</ion-select-option>
          <ion-select-option value="testnet">Testnet</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea label="Words" [(ngModel)]="mnemonic"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button expand="block" (click)="submitRequest()">Import</ion-button>
</ion-footer>
