<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Import a Wallet</ion-title>
    <ion-progress-bar *ngIf="showProgress" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Import a Wallet</ion-title>
      <ion-progress-bar *ngIf="showProgress" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Enter 12 words to import your wallet
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Name" [(ngModel)]="name" [disabled]="showProgress"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select disabled="true" label="Network" placeholder="Select Network" [(ngModel)]="selectedNetwork">
            <ion-select-option value="livenet">Livenet</ion-select-option>
            <ion-select-option value="testnet">Testnet</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-textarea label="Words" [(ngModel)]="mnemonic" [disabled]="showProgress"></ion-textarea>
        </ion-item>
      </ion-list>
      <ion-button
        class="ion-margin-vertical"
        expand="block"
        (click)="submitRequest()" [disabled]="!mnemonic || !name || showProgress">
        Import
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
