<div *ngIf="transactions?.length; then ListTx else NoTx"></div>
<ng-template #ListTx>
  <ion-card-content>
    <ion-list>
      <ion-label>
        <h3>Transactions</h3>
      </ion-label>
      <ion-item *ngFor="let tx of transactions">
        <ion-label>
          [{{tx.type}}] {{tx.notes}} {{tx.date}} Fee: {{tx.fee}}
        </ion-label>
        <ion-note slot="end">{{tx.amount}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ng-template>
<ng-template #NoTx>
  <ion-card color="medium">
    <ion-card-content>No transactions</ion-card-content>
  </ion-card>
</ng-template>
