<div *ngIf="transactions?.length; then ListTx else NoTx"></div>
<ng-template #ListTx>

  <ion-list>
    <ion-item button (click)="openTransactionDetails(tx)" *ngFor="let tx of transactions">
      <ion-icon *ngIf="tx.type === 'received'" color="success" slot="start" name="arrow-down-circle-outline"></ion-icon>
      <ion-icon *ngIf="tx.type === 'sent'" color="danger" slot="start" name="arrow-up-circle-outline"></ion-icon>
      <ion-icon *ngIf="tx.type === 'moved'" color="warning" slot="start" name="arrow-forward-circle-outline"></ion-icon>
      <ion-label>
          {{ tx.amountStr }}
      </ion-label>
      <ion-note slot="end" class="ion-text-end">
        {{ tx.date.split(',')[0] }}<br>
        {{ tx.date.split(',')[1] }}
      </ion-note>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="isModalTransactionDetailsOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="primary">
            <ion-button class="custom-small-button" (click)="closeTransactionDetails()">Close</ion-button>
          </ion-buttons>
          <ion-title>Transaction Details</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-transaction-details-component [network]="network" [tx]="currentTx"></app-transaction-details-component>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-template>
<ng-template #NoTx>
  <div class="no-tx-container ion-padding">
    <ion-icon name="wallet-outline" class="no-tx-icon"></ion-icon>
    <div class="no-tx-text">No transactions yet!</div>
    <div class="no-tx-subtitle">Your future transactions will appear here</div>
  </div>
</ng-template>
