<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Backup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#/settings"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Backup</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="walletService.wallet">
    <ion-card-header>
      <ion-card-title>Recovery 12 words</ion-card-title>
      <ion-card-subtitle>Keep this mnemonic safe. It is the only way to recover your wallet. If you lose it, you lose your wallet.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <app-backup-component [mnemonic]="walletService.wallet.mnemonic"></app-backup-component>
    </ion-card-content>
  </ion-card>

</ion-content>
