<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="walletService.wallets.length">
    <ion-item (click)="showActionSheet(position)" *ngFor="let wallet of walletService.wallets; index as position">
      <ion-label>{{wallet.name}} ({{wallet.network}})</ion-label>
      <ion-note slot="end">$ 0.00</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="createWallet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
