.main-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Custom styles for no wallet created screen */
.empty-wallet-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.icon-container {
  position: relative;
  margin-bottom: 1rem;
  background: rgba(var(--ion-color-primary-rgb), 0.1);
  border-radius: 50%;
  padding: 2rem;

  .wallet-icon {
    font-size: 6rem;
    color: var(--ion-color-primary);
    opacity: 0.9;
  }
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
  50% {
    border-color: var(--ion-color-secondary);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-color: var(--ion-color-primary);
    border-width: 2px;
  }
}


.message-container {
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 280px;
  }
}

.buttons-container {
  width: 100%;
  max-width: 300px;

  .create-button {
    margin-bottom: 1rem;
  }

  .import-button {
    --border-width: 2px;
  }

  ion-button {
    height: 48px;
    font-weight: 500;

    ion-icon {
      margin-right: 8px;
    }
  }
}
