.mnemonic-text {
  font-size: large;
  font-weight: 600;
  margin: 0.8rem 0;
  word-spacing: 1rem;
  line-height: 2rem;
}

.backup-container {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}
